In [49]:
import numpy as np
import matplotlib as pyplot
import pandas as pd

In [50]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [51]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [52]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [53]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [54]:
independent=dataset[['Age', 'EstimatedSalary', 'Gender_Male']]
dependent=dataset[['Purchased']]

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [56]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [57]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
param_grid={'kernel':['rbf','poly','sigmond','linear'],'C':[10,100,1000,2000,3000],'gamma':["auto","scale"]}
grid=GridSearchCV(SVC(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)
re=grid.cv_results_
print("The confusion matrix value for best parameter{}:".format(grid.best_params_))
table=pd.DataFrame.from_dict(re)
table

Fitting 5 folds for each of 40 candidates, totalling 200 fits
The confusion matrix value for best parameter{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}:

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
50 fits failed out of a total of 200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
27 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'kernel' parameter of SVC must be a str among {'rbf', 'precomputed', 'linear', 'sigmoid', 'poly'} or a callable. Got 'sigmond' instead.

--------------------------------------------------------------------------------
23 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'kernel' parameter of SVC must be a str among {'precomputed', 'poly', 'linear', 'sigmoid', 'rbf'} or a callable. Got 'sigmond' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.9        0.84285714        nan 0.825      0.9        0.84285714
        nan 0.825      0.89285714 0.84285714        nan 0.825
 0.89285714 0.84642857        nan 0.825      0.875      0.84285714
        nan 0.825      0.875      0.84285714        nan 0.825
 0.875      0.84285714        nan 0.825      0.87857143 0.84285714
        nan 0.825      0.86785714 0.84285714        nan 0.825
 0.86785714 0.84285714        nan 0.825     ]
  warnings.warn(
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.042475,0.044188,0.009757,0.004895,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",0.892857,0.875000,0.839286,0.946429,0.946429,0.900000,0.041650,1
1,0.011277,0.006278,0.011462,0.002208,10,auto,poly,"{'C': 10, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.750000,0.928571,0.892857,0.842857,0.063286,12
2,0.000506,0.000642,0.000000,0.000000,10,auto,sigmond,"{'C': 10, 'gamma': 'auto', 'kernel': 'sigmond'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
3,0.010722,0.003773,0.007855,0.002664,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
4,0.017869,0.007674,0.017596,0.008602,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",0.892857,0.875000,0.839286,0.946429,0.946429,0.900000,0.041650,1
5,0.016268,0.006369,0.011633,0.003221,10,scale,poly,"{'C': 10, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.750000,0.928571,0.892857,0.842857,0.063286,12
6,0.001375,0.001875,0.000000,0.000000,10,scale,sigmond,"{'C': 10, 'gamma': 'scale', 'kernel': 'sigmond'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
7,0.008759,0.002799,0.007233,0.002483,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
8,0.010752,0.002991,0.008030,0.003770,100,auto,rbf,"{'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}",0.857143,0.892857,0.857143,0.928571,0.928571,0.892857,0.031944,3
9,0.022002,0.005931,0.010339,0.004842,100,auto,poly,"{'C': 100, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,12
10,0.000704,0.000396,0.000000,0.000000,100,auto,sigmond,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmond'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
11,0.023130,0.006370,0.007389,0.000736,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
12,0.011012,0.003224,0.006762,0.003262,100,scale,rbf,"{'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}",0.857143,0.892857,0.857143,0.928571,0.928571,0.892857,0.031944,3
13,0.026945,0.009032,0.007453,0.003203,100,scale,poly,"{'C': 100, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.750000,0.928571,0.910714,0.846429,0.066432,11
14,0.001302,0.001887,0.000000,0.000000,100,scale,sigmond,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmond'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
15,0.019024,0.003195,0.007000,0.003293,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
16,0.020645,0.003469,0.007839,0.003056,1000,auto,rbf,"{'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}",0.839286,0.875000,0.857143,0.910714,0.892857,0.875000,0.025254,6
17,0.141283,0.056331,0.005690,0.003261,1000,auto,poly,"{'C': 1000, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,12
18,0.000905,0.000186,0.000000,0.000000,1000,auto,sigmond,"{'C': 1000, 'gamma': 'auto', 'kernel': 'sigmond'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
19,0.130533,0.037754,0.006683,0.003861,1000,auto,linear,"{'C': 1000, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
20,0.015970,0.006861,0.007547,0.003957,1000,scale,rbf,"{'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}",0.839286,0.875000,0.857143,0.910714,0.892857,0.875000,0.025254,6
21,0.173732,0.112608,0.005712,0.002951,1000,scale,poly,"{'C': 1000, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,12
22,0.000399,0.000489,0.000000,0.000000,1000,scale,sigmond,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
23,0.127464,0.041797,0.007208,0.002727,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
24,0.022449,0.004709,0.006266,0.004405,2000,auto,rbf,"{'C': 2000, 'gamma': 'auto', 'kernel': 'rbf'}",0.821429,0.857143,0.857143,0.910714,0.928571,0.875000,0.039123,6
25,0.385972,0.081585,0.011243,0.006998,2000,auto,poly,"{'C': 2000, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,12
26,0.001305,0.001150,0.000000,0.000000,2000,auto,sigmond,"{'C': 2000, 'gamma': 'auto', 'kernel': 'sigmond'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
27,0.269366,0.085357,0.008284,0.002752,2000,auto,linear,"{'C': 2000, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
28,0.026631,0.005151,0.008126,0.003112,2000,scale,rbf,"{'C': 2000, 'gamma': 'scale', 'kernel': 'rbf'}",0.821429,0.875000,0.857143,0.910714,0.928571,0.878571,0.038132,5
29,0.319954,0.144035,0.010320,0.002899,2000,scale,poly,"{'C': 2000, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,12
30,0.001459,0.000863,0.000000,0.000000,2000,scale,sigmond,"{'C': 2000, 'gamma': 'scale', 'kernel': 'sigmo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
31,0.244153,0.036235,0.013200,0.008715,2000,scale,linear,"{'C': 2000, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
32,0.032966,0.005985,0.009905,0.006010,3000,auto,rbf,"{'C': 3000, 'gamma': 'auto', 'kernel': 'rbf'}",0.821429,0.857143,0.839286,0.892857,0.928571,0.867857,0.038465,9
33,0.423778,0.171622,0.009296,0.008421,3000,auto,poly,"{'C': 3000, 'gamma': 'auto', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,12
34,0.000791,0.000396,0.000000,0.000000,3000,auto,sigmond,"{'C': 3000, 'gamma': 'auto', 'kernel': 'sigmond'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
35,0.583342,0.460189,0.008651,0.001330,3000,auto,linear,"{'C': 3000, 'gamma': 'auto', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21
36,0.030389,0.008646,0.010954,0.005763,3000,scale,rbf,"{'C': 3000, 'gamma': 'scale', 'kernel': 'rbf'}",0.821429,0.857143,0.839286,0.892857,0.928571,0.867857,0.038465,9
37,0.447623,0.185486,0.005538,0.003948,3000,scale,poly,"{'C': 3000, 'gamma': 'scale', 'kernel': 'poly'}",0.839286,0.803571,0.732143,0.928571,0.910714,0.842857,0.071785,12
38,0.001048,0.000601,0.000000,0.000000,3000,scale,sigmond,"{'C': 3000, 'gamma': 'scale', 'kernel': 'sigmo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
39,0.623227,0.520671,0.008229,0.003242,3000,scale,linear,"{'C': 3000, 'gamma': 'scale', 'kernel': 'linear'}",0.839286,0.785714,0.678571,0.928571,0.892857,0.825000,0.087773,21

In [58]:
y_pred=grid.predict(x_test)
from sklearn.metrics import confusion_matrix 
cm=confusion_matrix(y_test,y_pred)
cm

array([[73,  6],
       [ 4, 37]], dtype=int64)

In [59]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print(clf_report)

              precision    recall  f1-score   support

           0       0.95      0.92      0.94        79
           1       0.86      0.90      0.88        41

    accuracy                           0.92       120
   macro avg       0.90      0.91      0.91       120
weighted avg       0.92      0.92      0.92       120

In [61]:
import pickle
filename="finalized_model_randomforestclassifier.sav"
pickle.dump(grid,open(filename,'wb'))
loaded_model=pickle.load(open("finalized_model_randomforestclassifier.sav","rb"))
result=loaded_model.predict([[35,70000,0]])
result

array([1], dtype=int64)